# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/

# VS Code related
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
coverage/

# iOS / macOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/

# Android related
android/.gradle/
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# Environment & Secrets
.env
.env.*
!.env.example
*.pem
